.footer {
  width: 100%;
  padding: var(--spacing__md);
  background-color: var(--color__primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing__sm);
  border-top: 2px solid var(--color__secundario);
}

.footer__legal__credits,
.footer__legal__rights {
  font-weight: bold;
  text-align: center;
}

.footer__legal__credits__link {
  position: relative;
  color: #000;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  transition: 1s;
}
.footer__legal__credits__link:hover {
  color: #4e0789;
  text-shadow: 0 0 5px #4e0789;
}
.footer__legal__credits__link:hover::after,
.footer__legal__credits__link:hover::before {
  animation-play-state: paused;
  text-shadow: none;
  filter: none;
  opacity: 0;
}
.footer__legal__credits__link::after,
.footer__legal__credits__link::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: 100%;
  pointer-events: none;
  white-space: nowrap;
  transition: 1s;
}
.footer__legal__credits__link::before {
  text-shadow: -2px 0 #4e0789;
  animation: 1s linear infinite alternate-reverse glitch-flicker-before;
  clip-path: inset(0 0 20% 0);
}
.footer__legal__credits__link::after {
  text-shadow: 2px 0 #4e0789;
  animation: 1.2s linear infinite alternate glitch-flicker-after;
  clip-path: inset(20% 0 0 0);
}

.footer__legal__credits__wb {
  color: var(--color__cta);
}
@keyframes glitch-flicker-before {
  0%,
  100% {
    transform: translateX(-50%) translate(0);
  }
  20% {
    transform: translateX(-50%) translate(-3px, 1px) skew(-5deg);
  }
  40% {
    transform: translateX(-50%) translate(3px, -2px) skew(5deg);
  }
  60% {
    transform: translateX(-50%) translate(-2px, 2px) skew(-3deg);
  }
  80% {
    transform: translateX(-50%) translate(2px, -2px) skew(3deg);
  }
}
@keyframes glitch-flicker-after {
  0%,
  100% {
    transform: translateX(-50%) translate(0);
  }
  20% {
    transform: translateX(-50%) translate(2px, -1px) skew(4deg);
  }
  40% {
    transform: translateX(-50%) translate(-3px, 2px) skew(-4deg);
  }
  60% {
    transform: translateX(-50%) translate(3px, -3px) skew(2deg);
  }
  80% {
    transform: translateX(-50%) translate(-1px, 1px) skew(-2deg);
  }
}
